// 整体
@lightMode-mainPage-bgColor: #f8f9fb;

// 导航栏
@lightMode-nav-bgColor: #e7ecef;
@lightMode-nav-bgItemColor: #ffffff;
@lightMode-nav-textColor: #333;
@lightMode-nav-activeColor: #0088ff;
@lightMode-nav-hoverColor: #f0f0f0;

// 顶栏
@lightMode-header-bgColor: #ffffff;

// 音乐列表页
@lightMode-music-playingTextColor: #0088ff;
@lightMode-music-playingBgColor: #0000000a;

// 播放栏
@lightMode-playBar-btnBg: rgba(0, 0, 0, 0.055);
@lightMode-playBar-btnHoverBg: rgba(0, 0, 0, 0.096);
